body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.flexible-container{
    display: flex;
}
section {
    padding-bottom: 150px;
}
h1{
    font-size: 50px;
    font-weight: 600;
}
h2{
    font-size: 40px;
    font-weight: 600;
}
.orange-color{
    color: orange;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-btn{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    color: #fff;
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 5px;
}
#top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.resume-btn{
    text-decoration: none;
    background: linear-gradient(160deg, lightsalmon, tomato);
    color: #fff;
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 5px;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experiance-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 2%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px #ddd;
}
#full-web-dev{
    border-left: 5px solid;
    border-image:linear-gradient(#d80ebd, tomato);
    border-image-slice: 1;
}
#baby-web-dev{
    border-left: 5px solid;
    border-image:linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    color: gray;
}